.container {
    display: contents;
}

.row {
    list-style-type: none;
    font-family: k2d, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
}

.row4 {
    list-style-type: none;
    font-family: k2d, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}
.beneficiosClub {
    margin: 0;
    padding: 0;
}

.itemsClub {
    list-style-type: none;
}

.btn {
    font-family: k2d, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin: 0 15px;
}

#esperando {
    font-weight: bold;
}

.contST {
    margin-left: 40px;
    margin-right: 40px;
}

.CST {
    padding: 10px 0;
}

/* .row1 {       
    background-color: rgb(24, 153, 196);  
    height: 40px;
} */

/* .row2 {
    list-style-type: none;  
    font-family: k2d, sans-serif;    
    font-size: 11pt;
    font-weight: bold; 
    display: flex;
    justify-content: end;
    align-items: center;
} */

.topMenu {
    display: flex;
    margin: 0 15px 0 0;
    padding-left: 0;
}

.nav-link-TopBar {
    padding: 0 5px;
    list-style-type: none;
    color: white;    
    font-family: k2d, sans-serif;
    font-size: 9pt;
}

.nav-link-foot {
    padding: 0 10px;    
    text-decoration: none;
    color: white;
}

/* .logoSCmenu {
    padding-right: 20px;
} */

.footer {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
    font-family: k2d, sans-serif;
    font-size: 11pt;
}

#navbarNav {
    list-style-type: none;  
    font-family: k2d, sans-serif;    
    font-size: 11pt;
    font-weight: bold; 
}

.row3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* .tituloPeli {
    margin-left: 10px;
    list-style-type: none;  
    font-family: k2d, sans-serif;    
    font-size: 35pt;
    font-weight: bold; 
} */

/* .fotoEscena {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
} */

.titleCarousel {
    font-family: k2d, sans-serif;    
    font-size: 60pt;
    font-weight: bold;
    color: darkcyan;
}