/* body {
    padding-left: 0px;
    padding-right: 0px;
} */

/* .container.fluid {
    padding-left: 0px;
    padding-right: 0px;
} */

.row1 {
    /* margin: 0px; */
    /* padding: 0px; */
    list-style-type: none; 
    text-decoration: none; 
    font-family: k2d, sans-serif;    
    font-size: 9pt;
    /* font-weight: bold; */
    color: white;    
    background-color: rgb(24, 153, 196);  
    height: 40px;
    display: flex;
    flex-direction: row;    
    justify-content: end;
    align-items: center;
    /* position: sticky; top: 0px;*/
}

.topMenu {
    list-style-type: none; 
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0px;
    padding: 0px;
    /* align-items: center; */
}

.itemsMenu {
    padding: 0 5px;
}

.row2 {
    /* margin: 0px; */
    /* padding: 0px; */
    list-style-type: none;  
    font-family: k2d, sans-serif;    
    font-size: 11pt;
    font-weight: bold;    
    /* color: white;     */
    /* background-color: rgb(24, 153, 196);   */
    /* height: 40px; */
    display: flex;
    /* flex-direction: row; */
    /* position: sticky; top: 0px;     */
    justify-content: end;
    align-items: center;
}

.logoSCmenu {
    padding-right: 20px;
}

#navbarNav {
    justify-content: end;
    list-style-type: none;  
    font-family: k2d, sans-serif;    
    font-size: 11pt;
    font-weight: bold; 
}

.row3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.tituloPeli {
    margin-left: 10px;
    list-style-type: none;  
    font-family: k2d, sans-serif;    
    font-size: 35pt;
    font-weight: bold; 
}

.fotoEscena {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}